img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

p {
  margin-top: 1rem;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 4px;
  background-color: #fff;
}

label,
input,
button
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  padding: 0.5rem 0.5rem;
}

input,
textarea
{
  margin-left: 1rem;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.logo,
#navbar {
  display: flex;
  align-items: center;
  border-left: 5px solid black;
  border-right: 5px solid black;
  height: 50px;
  padding: 5px 20px 10px 20px;
}

.logo {
  margin-left: 40px;
}

#navbar {
  justify-content: flex-end;
  margin-right: 40px;
}

.logo img {
  max-height: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: underline;
  font-size: 20px;
  color: black;
}
