/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * FONTS
 * Fonts...............Imported fonts.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 * Paragraphs...........Paragraph styles.
 *
 * OBJECTS
 * Container Primitives...Wrapping and constraining elements.
 * Border Primitives.....Border classes to correct border thickness.
 * Font Primitives.......Generic font styles.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * Media queries
 * Medium...............Media queries for medium screens
 *
 */







/*------------------------------------*\
  Global
\*------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}







/*------------------------------------*\
  Fonts
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fira+Sans:ital,wght@0,400;0,700;1,400&display=swap');





/*------------------------------------*\
  Generic
\*------------------------------------*/

body {
  font-family: 'Fira Sans', sans-serif;
}

main {
  max-width: 1120px;
  margin: 0 auto;
}





/*------------------------------------*\
  Base
\*------------------------------------*/

/* Headings */

h1 {
  font-family: 'Courgette', cursive;
  font-size: 3rem;
  padding: 1rem;
}

h2 {
  font-family: 'Courgette', cursive;
  font-size: 2rem;
}

h3 {
  font-family: 'Courgette', cursive;
  font-size: 1.5rem;
}

/* Paragraphs */

p {
  margin-top: 1rem;
  padding: 1rem;
}





/*------------------------------------*\
  Objects
\*------------------------------------*/

/* Container primitives */


.grid {
  display: grid;
  width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.card {
  max-width: 368px;
}

.card-txt {
  margin-top: -4px;
  height: 300px;
  border-top: 10px solid #C9C9C8;
}

/* Spacing primitives */

.margin-top {
  margin-top: 2rem;
}

.margin-top-sm {
  margin-top: 0.5rem;
}

/* Border primitives */

.border {
  border: 10px solid #C9C9C8;
}

.h-border {
  border-width: 0 10px 0 10px;
  border-style: solid;
  border-color: #C9C9C8
}

.u-border {
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: #C9C9C8
}

.c-border {
  border-width: 10px 0 10px 10px;
  border-style: solid;
  border-color: #C9C9C8
}

.backwards-c-border {
  border-width: 10px 10px 10px 0;
  border-style: solid;
  border-color: #C9C9C8
}

.n-borde {
  border-width: 10px 10px 0 10px;
  border-style: solid;
  border-color: #C9C9C8
}

.backwards-l-border {
  border-width: 0 10px 10px 0;
  border-style: solid;
  border-color: #C9C9C8
}

.l-border {
  border-width: 0 0 10px 10px;
  border-style: solid;
  border-color: #C9C9C8
}

/* Font primitives */

.white-txt {
  color: #C9C9C8;
}

.center {
  text-align: center;
}




/*------------------------------------*\
  Components
\*------------------------------------*/

/* Page-head */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.logo,
#navbar {
  display: flex;
  align-items: center;
  border-left: 5px solid black;
  border-right: 5px solid black;
  height: 50px;
  padding: 5px 20px 10px 20px;
}

.logo {
  margin-left: 40px;
}

#navbar {
  justify-content: flex-end;
  margin-right: 40px;
}

.logo img {
  max-height: 100%;
}


nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: underline;
  font-size: 20px;
  color: black;
}

/* Mobile dropdown menu */

.dropbtn {
  background-color: #C9C9C8;
  color: #000;
  padding: .75rem 1.5rem;
  border: none;
}



/* Banner */

.header-box {
  background-image: url(images/main-city-medium.jpg);
  background-size: cover;
  min-height: 30rem;

}

.description-box p {
  margin-top: 0.25rem;
  font-size: 2rem;
  font-style: italic;
}

/* Button */

.button {
  background-color: #CA4335;
  color: #C9C9C8;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-left: 35%;
  text-decoration: none;
  border: none;
  padding: 1rem 3rem;
  font-size: 2rem;
  animation: glowing 1300ms infinite;
}

.button:active {
  top: .35rem;
}

/* Key frames for button */

@keyframes glowing {
  0% {
    background-color: #CA4335;
    box-shadow: 0 0 3px #CA4335;

  }
  50% {
    background-color: #EA150E;
    box-shadow: 0 0 20px #EA150E;
    color: #fff;

  }
  100% {
    background-color: #CA4335;
    box-shadow: 0 0 3px #CA4335;
  }
}

/* Page-foot */

footer {
  position: absolute;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}





/*------------------------------------*\
  Contact Us page
\*------------------------------------*/

form {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  background: #EBEBE9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label,
input,
button,
select {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-top: 0.5rem;
  padding: 0.5rem 0.5rem;
  font-family: 'Fira Sans', sans-serif;
}

input,
textarea,
select {
  margin-left: 1rem;
}

label {
  margin-bottom: 5px;
  color: #666;
}

:optional {
  opacity: 0.4;
  transition: .2s;
}

:optional:hover {
  opacity: 1;
}

input[type="text"] {
  padding: 2px;
  width: 100%;
  border: 1px solid silver;
}

input[type=submit] {
  background: #EA150E;
  color: white;
  padding:10px 0;
  border-color: rgba(0,0,0,.1);
  font-weight: bold;
  opacity: 1;
  width: 30%;
}

select {
  width: 100%;
  border: 1px solid silver;
  padding: 5px;
}

.header-box-contact {
  background-image: url(images/contact-city.jpeg);
  background-size: cover;
  min-height: 30rem;
}





/*------------------------------------*\
  Media queries
\*------------------------------------*/

/* Medium screens */

@media  screen and (min-width: 800px) {

  h1 {
    font-size: 4rem;
  }

  .banner-grid {
    grid-template-columns: 1fr 1fr;
  }

  .description-box p {
    margin: 1rem;
  }

  #banner p {
    font-size: 2rem;
  }
}

/* Large screens */

@media  screen and (min-width: 1200px) {

  .description-box p {
    margin: 3rem;
  }
}
