<header role="banner">

  <div class="logo">
    <img src="./images/logos/fangs-logo-small.jpg" alt="Logo for Monsters Inc.">
  </div>

  <nav role="navigation" id="navbar">
    <ul>

      <li>
        <img src="./images/svg/spooky_castle.svg" alt="Home icon" class="nav-svg">
        <a href="./index.html" class="link">HOME</a>
      </li>

      <li>
        <img src="./images/svg/detectiveHat.svg" alt="Team icon" class="nav-svg">
        <a href="./index.html#about" class="link">TEAM</a>
      </li>

      <li>
        <img src="./images/svg/Phone-Icon1.svg" alt="Contact icon" class="nav-svg">
        <a href="./contact.html" class="link">CONTACT</a>
      </li>
    </ul>
  </nav>

</header>
