<header role="banner">

    <div class="logo">
      <img src="./images/logos/fangs-logo-small.jpg" alt="Logo for Monsters Inc.">
    </div>
  
    <nav role="navigation" class="dropdown" id="navbar">
        <button class="dropbtn">MENU</button>
        <div class="dropdown-content">
            <a href="index.html">            
              <img src="./images/svg/spooky_castle.svg" alt="Home icon" class="nav-svg">
              HOME
            </a>

            <a href="index.html#about">
              <img src="./images/svg/detectiveHat.svg" alt="Team icon" class="nav-svg">
              TEAM
            </a>
            <a href="contact.html">
              <img src="./images/svg/Phone-Icon1.svg" alt="Contact icon" class="nav-svg">
              CONTACT
            </a>
        </div>
    </nav>
  
  </header>

  
